.offercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.offeritemcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.offercountdown {
  background-color: red;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  position: relative;
  top: 10px;
  width: 340px;
  z-index: 999;
}
.offerpackage {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 30vw;
  position: relative;
  border-radius: 15px;
  padding-right: 5px;
}
.offercountdown h2 {
  font-size: 22px;
  font-family: "Kumbh Sans";
  font-weight: normal;
}
.offerpackage h2 {
  font-family: "Kumbh Sans";
  font-size: 40px;
  color: #0a4655;
  position: relative;
  overflow: visible;
  margin-bottom: 40px;
}
.offerpackage h2::after {
  height: 5px;
  position: absolute;
  content: "";
  top: 45px;
  left: 20%;
  width: 60%;
  border-radius: 15px;
  background-color: #0a4655;
}
.offerpackage li {
  margin-left: 35px;
  margin-bottom: 4px;
  font-size: 18px;
  font-family: "Kulim Park";
  width: 100%;
}
.offerpackage button {
  margin-top: 35px;
  color: white;
  background-color: #098a1e;
  font-family: "Kulim Park";
  padding: 10px 55px;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 35px;
}
.offerpackage span {
  text-align: left;
  display: flex;
  align-self: flex-start;
  margin-left: 25px;
  font-weight: bold;
  margin-top: 15px;
  font-family: "Kulim Park";
}
@media screen and (max-width: 980px) {
  .offerpackage {
    padding-top: 35px;
    width: 60vw;
  }
}
@media screen and (max-width: 550px) {
  .offercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .offeritemcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .offercountdown {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    position: relative;
    width: 300px;
    top: 10px;
    z-index: 999;
  }
  .offerpackage {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 90vw;
    position: relative;
    border-radius: 15px;
  }
  .offercountdown h2 {
    font-size: 20px;
    font-family: "Kumbh Sans";
    font-weight: normal;
  }
  .offerpackage h2 {
    font-family: "Kumbh Sans";
    font-size: 35px;
    color: #0a4655;
    position: relative;
    margin-bottom: 35px;
  }
  .offerpackage h2::after {
    height: 5px;
    position: absolute;
    content: "";
    top: 42px;
    left: 20%;
    width: 60%;
    border-radius: 15px;
    background-color: #0a4655;
  }
  .offerpackage li {
    margin-left: 35px;
    margin-bottom: 4px;
    font-size: 16px;
    font-family: "Kulim Park";
    width: 86%;
  }
  .offerpackage button {
    margin-top: 25px;
    color: white;
    background-color: #098a1e;
    font-family: "Kulim Park";
    padding: 10px 55px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 35px;
  }
  .offerpackage span {
    text-align: left;
    display: flex;
    align-self: flex-start;
    margin-left: 16px;
    margin-top: 15px;
    font-family: "Kulim Park";
  }
}
