.youtubecontainer iframe {
  width: 950px;
  height: 500px;
  padding: 20px 15px;
}
.youtubecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
@media screen and (max-width: 450px) {
  .youtubecontainer iframe {
    width: 350px;
    height: 400px;
    padding: 20px 15px;
  }
  .youtubecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
}
