.navbarcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(173.35deg, #0a4655 -27.69%, #51d0d3 131.71%);
}
.logonav {
  margin-left: 20px;
}
.mobilescreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: #f5f5f5;
}
.nalinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
.navcloseicon {
  position: absolute;
  right: 35px;
  top: 25px;
  cursor: pointer;
}
.relnavlinks ul {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
.relnavlinks ul li {
  margin-right: 18px;
  color: white;
  font-family: "Bellota Text", cursive;
  cursor: pointer;
  padding: 5px;
  position: relative;
}
.relnavlinks button {
  border: none;
  padding: 7px 25px;
  font-size: 18px;
  margin-right: 85px;
  margin-left: 95px;
  border-radius: 10px;
  background-color: #0a4655;
  color: white;
  font-family: "Kulim Park";
  cursor: pointer;
}
.relnavlinks ul li:hover::after {
  content: "";
  position: absolute;
  background-color: #e7e6e5;
  top: 0;
  height: 5px;
  width: 100px;
  left: 0;
  transition: all 2s ease-in-out;
}
.relnavlinks ul li:hover::before {
  content: "";
  position: absolute;
  background-color: #e7e6e5;
  bottom: 0;
  height: 5px;
  width: 100px;
  left: 0;
}

.nalinks ul li {
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  display: block;
}
.nalinks button {
  margin-top: 20px;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 15px;
  background-color: #0a4655;
  color: white;
  font-family: "Kulim Park";
  cursor: pointer;
}
.logonav img {
  width: 70px;
}
.linknav {
  margin-right: 30px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}
.linknav svg {
  font-size: 32px;
  color: white;
}
.linknav {
  display: none;
}
@media screen and (max-width: 800px) {
  .relnavlinks {
    display: none;
  }
  .nalinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
  }
  .linknav {
    display: block;
    margin-right: 0px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 10px;
  }
}
