.footercontainer {
  background-color: #0d7e9b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px 0px;
  height: 280px;
  overflow: hidden;
  font-family: "Kulim Park", sans-serif;
}
.footerdetail {
  text-align: left;
  margin-right: 55px;
}
.footerdetail h2 {
  font-size: 25px;
  position: relative;
  margin-bottom: 10px;
  font-weight: normal;
  overflow: hidden;
}
.footerdetail h2::after {
  height: 5px;
  width: 120%;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  top: 28px;
  left: -10px;
  content: "";
}

.footerdetail p {
  margin-top: 13px;
  font-size: 16px;
  font-family: "Kulim Park", sans-serif;
}
.footerlogo img {
  margin-left: 40px;
  width: 200px;
}
.flexdesktopfooter {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}
.flexdesktopfooter span {
  font-size: 25px;
}
.flexdesktopfooter li {
  margin-top: 20px;
  font-size: 18px;
  text-align: left;
  margin-top: 15px;
  font-family: "Bellota Text", cursive;
}
@media screen and (max-width: 790px) {
  .flexdesktopfooter {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .footercontainer {
    background-color: #0d7e9b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 0px;
    font-family: "Kulim Park", sans-serif;
  }
  .flexdesktopfooter {
    display: none;
  }
  .footerdetail {
    text-align: right;
    margin-right: 15px;
  }
  .footerdetail h2 {
    font-size: 25px;
    position: relative;
    margin-bottom: 10px;
    font-weight: normal;
    overflow: visible;
  }
  .footerdetail h2::after {
    height: 5px;
    width: 120%;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 28px;
    left: -10px;
    content: "";
  }

  .footerdetail p {
    margin-top: 2px;
    font-family: "Bellota Text", cursive;
    font-size: 16px;
  }
  .footerlogo img {
    margin-left: 20px;
    width: 80px;
    height: 80px;
  }
}
